{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for image in images %}
                <li class="photo bg-white rounded shadow m-1 overflow-hidden p-3 text-center">
                    <a href="{{ path('gallery_show', {id: image.id}) }}">
                        <img class="lazy" src="" alt="{{ image.title }}" data-src="{{ vich_uploader_asset(image) }}">
                        <h2 class="text-lg">{{ image.title }}</h2>
                        <p>{{ image.description }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    <script>
        const lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy",
        });
    </script>
{% endblock %}
