{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="flex justify-center">
            <div>
                <div class="photo inline-block max-w-full bg-white rounded shadow overflow-hidden p-3 text-center">
                    <img class="lazy" src="" alt="{{ image.title }}" data-src="{{ vich_uploader_asset(image) }}">
                    <h2 class="text-lg w-auto">{{ image.title }}</h2>
                    <p class="w-auto">{{ image.description }}</p>
                </div>
                <a class="block mt-4 text-center text-blue-400" href="{{ path('gallery') }}">Go Back</a>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    <script>
        const lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy",
        });
    </script>
{% endblock %}
